
  <c-row  ngPreserveWhitespaces>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          Achats de Transfer Mobile
          <button style="float: right;" class="btn float-right" color="primary"  [routerLink]="['/buttons/addmobiletransfertpurchase']" cButton> ajouter</button>

          <div class="col-sm-7" style="    width: fit-content; display: -webkit-inline-box;">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
              (dateSelect)="onDateSelection($event)"
                     name="dp"  ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <svg cIcon class="me-2" class="center-align"  name="cil-calendar"></svg>
                </button>
              </div>
            </div>
          </div>
            <!-- <div class="form-group">
            </div> -->
          
        </c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
            <tr>
              <!-- <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th> -->
              <th>Fournisseur</th>
              <th class="text-center">Contact</th>
              <th class="text-center">Montant</th>
              <th class="text-center">Date</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let credit_purchase of mobileTransfertListe; index as i">
              <!--  -->
              <td class="text-center">
                <!-- {{credit_purchase?.individual ? credit_purchase?.individual.firstName + "  " + credit_purchase?.individual.lastName : credit_purchase.business?.name}}  -->
                {{credit_purchase.provider.business ? credit_purchase.provider.business.name : credit_purchase.provider.individual?.firstName??"Aucun"}}
              </td>
              <td class="text-center">
                 <div>{{ credit_purchase.provider.firstPhone }}</div>
     
              </td>
              <td class="text-center">
                <div>{{ credit_purchase.amount }}</div>
    
             </td>
              <td>
                <div class="text-center small text-medium-emphasis">
                  {{ credit_purchase.date | date:'short' }}
                </div>
                <!-- <strong>{{ user.activity }}</strong> -->
              </td>

              <td class="text-center">
                <button type="button" rel="tooltip" (click)="delete(credit_purchase.id)"  class="btn btn-danger btn-just-icon btn-sm">
                  <svg cIcon class="me-2" class="center-align" name="cil-trash"></svg>
               </button>
               <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" [routerLink]="['/buttons/editmobiletransfertpurchase/',credit_purchase.id]" data-original-title="" title="">
                  <svg cIcon class="me-2" class="center-align" name="cil-pencil"></svg>
               </button>
              </td>
            </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>