<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Ajouter un  Client</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Veillez fournir les informations du clients.
        </p>
        <!-- <app-docs-example href="components/accordion">

          <c-accordion [alwaysOpen]="false" [flush]="false" class="shadow">
            <c-accordion-item #item0="cAccordionItem" [visible]="false">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton cBgColor="info">
                  Accordion item #0
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div [innerHTML]="getAccordionBodyText('first')" cBgColor="info" class="accordion-body"></div>
              </ng-template>
            </c-accordion-item>
            <c-accordion-item #item1="cAccordionItem" [visible]="false">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
                  Accordion item #1
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div class="accordion-body">
                  <strong>This is the
                    <mark>#second</mark>
                    item accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as
                  the showing and hiding via CSS transitions. You can modify any of this with
                  custom CSS or overriding our default variables. It&#39;s also worth noting
                  that just about any HTML can go within the <code>.accordion-body</code>,
                  though the transition does limit overflow.
                </div>
              </ng-template>
            </c-accordion-item>
            <c-accordion-item #item2="cAccordionItem" [visible]="false">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button (click)="item2.toggleItem()" [collapsed]="!item2.visible" cAccordionButton>
                  Accordion item #2
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div class="accordion-body">
                  <span [innerHTML]="getAccordionBodyText('third')"></span>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
        </app-docs-example> -->


        <form cForm class="row g-3" [formGroup]="profileForm" (ngSubmit)="ajouter()">
          <c-col [md]="6">
          <label cLabel for="inputEmail4">Nom:</label>
          <input cFormControl id="inputEmail4" name="firstname" formControlName="firstname" type="text" ngModel/>
          
  
          </c-col>
          <c-col [md]="6">
          <label cLabel for="inputPassword4">Prenom:</label>
          <input cFormControl id="inputPassword4" formControlName="lastname" name="lastname" type="text" ngModel/>
          </c-col>

          <div  class="typeclient d-flex col-xs-1 align-items-center" style="justify-content: space-evenly;">
            <c-form-check >
              <input cFormCheckInput type="radio" value="1" formControlName="induvidual" name="flexRadioDefault" checked ngModel />
              <label cFormCheckLabel>Induvidual</label>
            </c-form-check>
            <c-form-check>
              <input cFormCheckInput type="radio" value="2" formControlName="groupe" name="flexRadioDefault" ngModel/>
              <label cFormCheckLabel>Groupe</label>
            </c-form-check>
          </div>


          <c-col [xs]="12">
          <label cLabel for="inputAddress">Address</label>
          <input cFormControl id="inputAddress" name="adresse" formControlName="adresse" placeholder="1234 Bamako coura" ngModel/>
          </c-col>

          <c-col [md]="6">
          <label cLabel for="inputCity">Contact: </label>
          <input cFormControl id="inputCity" type="tel"  name="contact" formControlName="contact" placeholder="numero de télephone" ngModel />
          </c-col>

          <!-- <c-col [md]="4">
          <label cLabel for="inputState">State</label>
          <select cSelect id="inputState">
          <option>Choose...</option>
          <option>...</option>
          </select>
          </c-col>
          <c-col [md]="2">
          <label cLabel for="inputZip">Zip</label>
          <input cFormControl id="inputZip" />
          </c-col>
          <c-col [xs]="12">
          <c-form-check>
          <input cFormCheckInput id="gridCheck" name="gridCheck" type="checkbox" />
          <label cFormCheckLabel for="gridCheck">Check me out</label>
          </c-form-check>
          </c-col> -->
          <c-col [xs]="12">
          <button [disabled]="!profileForm.valid" cButton type="submit">Ajouter</button>
          </c-col>
          </form>
      </c-card-body>
    </c-card>

    <!-- <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Accordion</strong> alwaysOpen
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/accordion#always-open">
          <c-accordion [alwaysOpen]="true" class="shadow accordion-custom">
            <c-accordion-item *ngFor="let item of items; let i = index;" [visible]="i===1">
              <ng-template cTemplateId="accordionHeader">
                Custom Accordion item #{{i}}
              </ng-template>
              <ng-template cTemplateId="accordionBody">
                <small><i>{{i}}.</i></small>
                <span [innerHTML]="getAccordionBodyText(i.toString())"></span>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
        </app-docs-example>
      </c-card-body>
    </c-card> -->
  </c-col>
</c-row>
