<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Ajouter un  Fournisseur</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Veillez fournir les informations du Fournisseur.
        </p>
        <form cForm class="row g-3" [formGroup]="profileForm" (ngSubmit)="ajouter()">
          <c-col [md]="6">
          <label cLabel for="inputEmail4">Nom du Fournisseur:</label>
          <input cFormControl id="inputEmail4" name="firstname" formControlName="firstname" type="text" ngModel/>
          
  
          </c-col>
          <c-col [md]="6">
          <label cLabel for="inputPassword4">Prenom du Fournisseur:</label>
          <input cFormControl id="inputPassword4" formControlName="lastname" name="lastname" type="text" ngModel/>
          </c-col>

          <c-row [gutter]="{g: 2}">
            <c-col [md]>
              <div cFormFloating>
                <input
                  cFormControl
                  id="floatingInputGrid"
                  type="email"
                  value="email@example.com"
                 formControlName="email" ngModel/>
                <label cLabel for="floatingInputGrid">Email address</label>
              </div>
            </c-col>
            <c-col [md]>
              <div cFormFloating>
                <select cSelect id="floatingSelectGrid" aria-label="Type de Fournisseur" formControlName="typeFournisseur" ngModel>
                  <!-- <option>Type de Fournisseur</option> -->
                  <option value="1">Induvidual</option>
                  <option value="2">Groupe</option>
                </select>
                <label cLabel for="floatingSelectGrid">Selectionner le type de Fournisseur</label>
              </div>
            </c-col>
          </c-row>


          <c-col [xs]="12">
          <label cLabel for="inputAddress">Address du Fournisseur</label>
          <input cFormControl id="inputAddress" name="adresse" formControlName="adresse" placeholder="1234 Bamako coura" ngModel/>
          </c-col>

          <c-col [md]="6">
          <label cLabel for="inputCity">Contact du Fournisseur: </label>
          <input cFormControl id="inputCity" type="tel"  name="contact" formControlName="contact" placeholder="numero de télephone" ngModel />
          </c-col>

          <c-col [xs]="12">
          <button [disabled]="!profileForm.valid" cButton type="submit">Ajouter</button>
          </c-col>
          </form>
      </c-card-body>
    </c-card>

  </c-col>
</c-row>
