
<c-col xs="12">
  <c-card class="mb-4">
    <div>
      <a (click)="toggleCollapse()" style="background-color: grey" cButton class="me-1" color="primary">
        <svg cIcon class="me-2" class="center-align" name="cil-filter"></svg>
      </a>
      <label for="filter" style="font-size: 18px">Filtres</label>

      <div *ngIf="visible" cCollapse>
        <c-card class="mt-3 shadow">
          <c-card-body>
            <c-row style="
                align-items: center;
                justify-content: space-between;
                margin: 15px;
              ">
              <div class="col-sm-3">
                <label for="inputState" class="form-label">Type:</label>
                <select id="inputState" class="form-select" (change)="getIndividuallProviders($event)" >
                  <option selected >Tous</option>
                  <option [value]="businessProvider">{{businessProvider}}</option>
                  <option [value]="individualProvider" >{{individualProvider}}</option>
                </select>
              </div>


              <div style="display: contents">
                <div class="form-check form-check-inline" >
                  <input class="form-check-input" type="radio" name="inlineRadioOptions"
                    (change)="onFilterChange($event)" [value]="purchaseOfCredits" id="inlineRadio1" />
                  <label class="form-check-label" for="inlineRadio1">Achat de crédit</label>
                </div>
              </div>

              <div style="display: contents">
                <div class="form-check form-check-inline" >
                  <input class="form-check-input" type="radio" name="inlineRadioOptions"
                    (change)="onFilterChange($event)" [value]="mobileTransferPurchase" id="inlineRadio1" />
                  <label class="form-check-label" for="inlineRadio1">Achat de Transfert mobile</label>
                </div>
              </div>
            </c-row>

            <div class="col-sm-7" style="display: contents; align-content: center; margin-top: 20px">
              <!-- <input type="text" class="form-control" placeholder="Search user historique" (ngModelChange)="onSearchChange($event)" [(ngModel)]="searchText" ng aria-label="Search"> -->
              <form class="row row-cols-sm-auto" style="text-align: center; justify-content: center">
                <div class="col-12">
                  <div class="dp-hidden position-absolute">
                    <div class="input-group">
                      <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                        [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                        [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
                      <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="input-group">
                    <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                      [value]="formatter.format(fromDate)" (input)="
                        fromDate = validateInput(fromDate, dpFromDate.value)
                      " />

                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
                      type="button">
                      <svg cIcon class="me-2" class="center-align" name="cil-calendar"></svg>
                    </button>
                  </div>
                </div>
                <div class="col-12" style="padding: 0px">
                  <div class="input-group">
                    <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                      [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
                      type="button">
                      <svg cIcon class="me-2" class="center-align" name="cil-calendar"></svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </c-card-body>
        </c-card>
      </div>
    </div>
  </c-card>
</c-col>

<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>

        <strong>Liste Historique des Achats</strong>

          <!-- <button style="float: right;" class="btn float-right" color="primary"   cButton> ajouter

          </button> -->
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Search user historique" [(ngModel)]="searchText" ng aria-label="Search">
          </div>

    </c-card-header>
    <c-card-body>

        <table cTable class="center-align">
          <caption>Historique des Achats</caption>
          <thead>
          <tr >
            <th scope="col"><i class="fa fa-sort">Fournisseur </i></th>
            <!-- <th scope="col" *ngFor="let ope of listOperation"><i class="fa fa-sort">{{ope.name}} </i></th> -->
            <th scope="col">Achat  Total</th>
            <th scope="col">Nombre Total d'achat</th>
            <th scope="col">Times</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of supplierData ">
            <td>{{getProviderName(data)}}</td>
            <td >{{getProviderTotalPurchase(data)}}</td>
            <td >{{getProviderTotalPurchaseNumber(data)}}</td>

            <td>{{data.createdAt | date :'short'}}</td>
          </tr>
          <tr class="center-align">
            <!-- <td *ngIf="historiqueData.length == 0"  class="center-align" colspan="4">No Historique Found</td> -->
          </tr>
          </tbody>
        </table>
    </c-card-body>
  </c-card>
</c-col>
