<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>

        <strong>Liste Historique des Achats</strong>

          <!-- <button style="float: right;" class="btn float-right" color="primary"   cButton> ajouter
    
          </button> -->
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Search user historique" [(ngModel)]="searchText" ng aria-label="Search">
          </div>

    </c-card-header>
    <c-card-body>

        <table cTable class="center-align">
          <caption>Historique des Achats</caption>
          <thead>
          <tr >
            <th scope="col"><i class="fa fa-sort">Fournisseur </i></th>
            <!-- <th scope="col" *ngFor="let ope of listOperation"><i class="fa fa-sort">{{ope.name}} </i></th> -->
            <th scope="col">Achat  Total</th>
            <th scope="col">Nombre Total d'achat</th>
            <th scope="col">Times</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of supplierData ">
            <td>{{getProviderName(data)}}</td>
            <td >{{getProviderTotalPurchase(data)}}</td>
            <td >{{getProviderTotalPurchaseNumber(data)}}</td>

            <td>{{data.createdAt | date :'short'}}</td>
          </tr>
          <tr class="center-align">
            <!-- <td *ngIf="historiqueData.length == 0"  class="center-align" colspan="4">No Historique Found</td> -->
          </tr>
          </tbody>
        </table>
    </c-card-body>
  </c-card>
</c-col>