<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>

        <strong>Liste des Historique</strong>

          <!-- <button style="float: right;" class="btn float-right" color="primary"   cButton> ajouter
    
          </button> -->
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Search user historique" [(ngModel)]="searchText" ng aria-label="Search">
          </div>

    </c-card-header>
    <c-card-body>

        <table cTable class="center-align">
          <caption>Historique des Transactions</caption>
          <thead>
          <tr >
            <th scope="col" *ngFor="let ope of allOperations"><i class="fa fa-sort">{{ope.key}}</i> Total </th>
            <!-- <th scope="col">Depôt</th>
            <th scope="col">Retrait</th> -->
            <th scope="col">nombre d'operation Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <!-- <th scope="row">1</th> -->
            <!-- <td *ngFor="let op of getUserOperations(historique)" >{{op["value"]}}</td> -->

            <td *ngFor="let ope of allOperations">{{ope.value}}</td>
            <td>{{listeTransactions.length}}</td>
          </tr>
          <tr class="center-align">
            <!-- <td *ngIf="historiqueData.length == 0"  class="center-align" colspan="4">No Historique Found</td> -->
          </tr>
          </tbody>
        </table>
    </c-card-body>
  </c-card>
</c-col>