
  <c-row  ngPreserveWhitespaces>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          Transactions Mobile
          <button style="float: right;" class="btn float-right" color="primary"  [routerLink]="['/base/addmobiletransaction']" cButton> ajouter
    
          </button>
        </c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
            <tr>
              <!-- <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th> -->
              <th>Clients</th>
              <th class="text-center">Numero pdv</th>
              <th class="text-center">Montant</th>
              <th class="text-center">Date</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of mobileTransactions; index as i">
              
              <td class="text-center">
                {{transaction.client.firstName}}
              </td>
              <td class="text-center">
                <div>{{ transaction.client.pdvNumber}}</div>
 
              </td>
              <td class="text-center">
                {{transaction.amount}}
              </td>
              <td>
                <div class="small text-medium-emphasis text-center">
                  {{ transaction.date  | date: 'short'}}
                </div>
           
              </td>
              <td class="text-center">
                <button type="button" rel="tooltip" (click)="deletetransaction(transaction.id)"  class="btn btn-danger btn-just-icon btn-sm">
                  <svg cIcon class="me-2" class="center-align" name="cil-trash"></svg>
               </button>
               <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" [routerLink]="['/base/editmobiletransaction/',transaction.id]" data-original-title="" title="">
                  <svg cIcon class="me-2" class="center-align" name="cil-pencil"></svg>
               </button>
              </td>
            </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  