body{

    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.arrow-icon {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

th {
  position:relative;
}

label{
    font-weight: 700;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #525f7f;
}

.btn-tooltip{
  display: flex;
}
